body{
    margin: 0;
    font-family: arial;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
}

.content{
    display: flex;
    flex-grow: 1;
}

aside{
    background: blue;
    color: white;
    padding: 20px;
    width: 200px;
    order: 1;
}

main{
    background: beige;
    flex-grow: 1;
    padding: 20px;
    order: 2;
}

.cards{
    display: flex;
    flex-wrap: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.card{
    background: white;
    padding: 40px;
    font-size: 25px;
    width: 150px;
    text-align: center;
}

.grow{
    align-self: flex-end;
}

.special{
    align-self: flex-end;
}